.bank {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.bank .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.bank .text-wrapper {
  position: absolute;
  top: 49px;
  left: 64px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.bank .navbar {
  position: absolute;
  width: 872px;
  height: 31px;
  top: 53px;
  left: 458px;
}

.bank .text-wrapper-2 {
  left: 0;
  position: absolute;
  width: 92px;
  top: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .text-wrapper-3 {
  left: 493px;
  position: absolute;
  width: 92px;
  top: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .text-wrapper-4 {
  left: 770px;
  position: absolute;
  width: 92px;
  top: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .text-wrapper-5 {
  left: 328px;
  position: absolute;
  width: 92px;
  top: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .text-wrapper-6 {
  left: 165px;
  position: absolute;
  width: 92px;
  top: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .overlap {
  position: absolute;
  width: 1442px;
  height: 859px;
  top: 166px;
  left: -1px;
}

.bank .rectangle {
  position: absolute;
  width: 1442px;
  height: 859px;
  top: 0;
  left: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #000000;
}

.bank .rectangle-2 {
  width: 1440px;
  height: 857px;
  background-color: #f7f7f7;
  border: 1px solid;
  border-color: transparent;
}

.bank .text-wrapper-7 {
  position: absolute;
  top: 69px;
  left: 88px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .text-wrapper-8 {
  position: absolute;
  top: 458px;
  left: 88px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .group1 {
  position: absolute;
  width: 1264px;
  top: 136px;
  left: 89px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #000000;
}

.bank .group2 {
  position: absolute;
  width: 1264px;
  left: 89px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #000000;
}

.bank .overlap-group {
  position: relative;
  width: 1264px;
  /*background-color: #ffffff;*/
  /*border-radius: 20px;*/
  /*border: 1px solid #000000;*/
}

.bank .account_content {
  position: relative;
  width: 1264px;
  height: 87px;
/*  background-color: orange;*/
/*  border-radius: 0 0 20px 20px;*/
/*  border: 1px solid #000000;*/
}

.bank .overlap-2 {
  position: absolute;
  width: 1264px;
  height: 87px;
  top: 0;
  left: 0;
  background-color: #e1e1e1db;
  border-radius: 20px 20px 0px 0px;
}

.bank .text-wrapper-9 {
  position: absolute;
  top: 27px;
  left: 43px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .text-wrapper-10 {
  top: 27px;
  left: 48px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .text-wrapper-11 {
  top: 27px;
  left: 1020px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .text-wrapper-12 {
  top: 134px;
  left: 862px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .text-wrapper-13 {
  top: 125px;
  left: 43px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .text-wrapper-14 {
  top: 150px;
  left: 43px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .div-wrapper {
  position: absolute;
  width: 114px;
  height: 50px;
  top: 125px;
  left: 999px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.bank .text-wrapper-15 {
  top: 13px;
  left: 38px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .overlap-group-2 {
  position: absolute;
  width: 114px;
  height: 50px;
  top: 125px;
  left: 1118px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.bank .text-wrapper-16 {
  top: 12px;
  left: 19px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .overlap-wrapper {
  width: 1282px;
  top: 533px;
  position: absolute;
  height: 226px;
  left: 89px;
}

.bank .text-wrapper-17 {
  top: 125px;
  left: 70px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .text-wrapper-18 {
  position: absolute;
  top: 125px;
  left: 248px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .line {
  position: absolute;
  width: 1px;
  height: 28px;
  top: 655px;
  left: 322px;
  object-fit: cover;
}

.bank .image {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 659px;
  left: 130px;
}