.bank .rectangle {
  height: 857px;
  background-color: #f7f7f7;
}

.bank .text-wrapper-7 {
  top: 120px;
  left: 88px;
  font-size: 30px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  font-weight: 500;
}

.bank .text-wrapper-8 {
  position: absolute;
  top: 590px;
  left: 88px;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  font-weight: 500;
}

.bank .text-wrapper-8-1 {
  position: absolute;
  top: 500px;
  left: 88px;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  font-weight: 500;
}

.bank .group1 {
  position: absolute;
  width: 1264px;
  top: 180px;
  left: 89px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bank .group2 {
  position: absolute;
  width: 1264px;
  left: 89px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #000000;
}

.bank .overlap-group {
  position: relative;
  width: 1264px;
  /*background-color: #ffffff;*/
  /*border-radius: 20px;*/
  /*border: 1px solid #000000;*/
}

.bank .account_content {
  position: relative;
  width: 1264px;
  height: 87px;
/*  background-color: orange;*/
/*  border-radius: 0 0 20px 20px;*/
/*  border: 1px solid #000000;*/
}

.bank .overlap-2 {
  position: absolute;
  width: 1264px;
  height: 87px;
  top: 0;
  left: 0;
  background-color: #009178;
  border-radius: 20px 20px 0px 0px;
}

.bank .text-wrapper-9 {
  position: absolute;
  top: 27px;
  left: 43px;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .text-wrapper-10 {
  top: 27px;
  left: 48px;
  color: #ffffff;
  font-size: 25px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .text-wrapper-11 {
  top: 27px;
  left: 1020px;
  color: #ffffff;
  font-size: 25px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .text-wrapper-12 {
  top: 134px;
  left: 862px;
  color: #000000;
  font-size: 25px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .text-wrapper-13 {
  top: 125px;
  left: 43px;
  color: #000000;
  font-size: 20px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  font-weight: 500;
}

.bank .text-wrapper-14 {
  top: 150px;
  left: 43px;
  color: #000000;
  font-size: 20px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .div-wrapper {
  position: absolute;
  width: 114px;
  height: 50px;
  top: 125px;
  left: 999px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.bank .text-wrapper-15 {
  top: 13px;
  left: 38px;
  color: #000000;
  font-size: 20px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .overlap-group-2 {
  position: absolute;
  width: 114px;
  height: 50px;
  top: 125px;
  left: 1118px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.bank .text-wrapper-16 {
  top: 12px;
  left: 19px;
  color: #000000;
  font-size: 20px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .overlap-wrapper {
  width: 1282px;
  top: 533px;
  position: absolute;
  height: 226px;
  left: 89px;
}

.bank .text-wrapper-17 {
  top: 125px;
  left: 70px;
  color: #000000;
  font-size: 20px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .text-wrapper-18 {
  position: absolute;
  top: 125px;
  left: 248px;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.bank .line {
  position: absolute;
  width: 1px;
  height: 28px;
  top: 655px;
  left: 322px;
  object-fit: cover;
}

.bank .image {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 659px;
  left: 130px;
}