.bank .rectangle {
  height: 857px;
  background-color: #f7f7f7;
}

.bank .text-wrapper-6 {
  top: 120px;
  left: 88px;
  font-size: 30px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  font-weight: 500;
}

form {
  position: absolute;
}

.bank .text-wrapper-7,
.bank .text-wrapper-8,
.bank .text-wrapper-9,
.bank .text-wrapper-10,
.bank .text-wrapper-11,
.bank .text-wrapper-15 {
  width: 121px;
  color: #000000;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.bank .text-wrapper-15 { top: 150px; left: 324px; }
.bank .text-wrapper-10 { top: 220px; left: 324px; }
.bank .text-wrapper-11 { top: 290px; left: 324px; }
.bank .text-wrapper-9 { top: 360px; left: 324px; }
.bank .text-wrapper-8 { top: 430px; left: 324px; }
.bank .text-wrapper-7 { top: 500px; left: 324px; }

.bank input[type="checkbox"] {
  display: block;
  height: 30px;
  width: 30px;
}

.bank input[type="text"],
.bank input[type="password"] {
  display: block;
  width: 400px;
  height: 40px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  position: relative;
  top: 320px;
  left: 545px;

}

.bank .text-wrapper-12,
.bank .text-wrapper-13,
.bank .text-wrapper-14 {
  width: 400px;
  color: #000000;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.bank .text-wrapper-12 { top: 150px; left: 554px; }
.bank .text-wrapper-13 { top: 220px; left: 554px; }
.bank .text-wrapper-14 { top: 290px; left: 554px; }

.bank .group {
  position: absolute;
  width: 781px;
  height: 57px;
  top: 600px;
  left: 324px;
}

.bank .overlap-group {
  width: 779px;
  height: 57px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bank .vector {
  position: absolute;
  width: 30px;
  height: 26px;
  top: 16px;
  left: 22px;
}

.bank .text-wrapper-16 {
  width: 301px;
  /* top: 16px; */
  /* left: 82px; */
  color: #000000;
  font-size: 20px;
  white-space: nowrap;
  /* position: absolute; */
  letter-spacing: 0;
  line-height: normal;

}

.bank .vector-2 {
  position: absolute;
  width: 9px;
  height: 14px;
  top: 21px;
  left: 748px;
}

.bank .overlap-wrapper {
  position: absolute;
  width: 330px;
  height: 59px;
  top: 680px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.bank .overlap-wrapper { left: 566px; }
.bank .overlap-group-wrapper { left: 734px; }

.bank .div-wrapper {
  position: relative;
  width: 148px;
  height: 59px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.bank .text-wrapper-17,
.bank .text-wrapper-18 {
  color: #000000;
  font-size: 16px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.bank .text-wrapper-17 {
  width: 59px;
  top: 20px;
  left: 56px;
}

.bank .text-wrapper-18 {
  width: 148px;
  height: 59px;
  /*background-color: rgb(14,114,114);*/
  border-radius: 10px;
}

.bank button[type="submit"]:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.bank button[type="submit"]:enabled {
  background-color: #009178;
  color: #ffffff;
  cursor: pointer;
}

.bank .rectangle-8 {
  position: absolute;
  width: 47px;
  height: 57px;
  top: 1159px;
  left: -1474px;
}
#confirmPassword:invalid {
  border-color: red;
}

#confirmPassword:valid {
  border-color: green;
}

 .vertical-line {
   border-left: 2px solid black;
   height: 450px; /* 선의 높이를 설정합니다 */
   margin: 0 10px; /* 선과 다른 요소 사이의 간격을 설정합니다 */
   top: 120px;
   position: absolute;
   left: 480px;
   width: 2px;
 }