.bank .rectangle {
  /*width: 1440px;*/
  height: 857px;
  background-color: #f7f7f7;
  /*border: 1px solid;*/
  /*border-color: transparent;*/
}

.bank .product_filter_container {
  position: absolute;
  display: flex;
  top: 210px;
  left: 90px;
  height: 55px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.bank .product_filter {
  width: 114px;
  height: 50px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  color: #000000;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product_filter.active {
  background-color: rgb(14,114,114);
  color: white;
}

.bank .p {
  top: 120px;
  left: 88px;
  font-size: 30px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  font-weight: 500;
}

.bank .line {
  position: absolute;
  width: 1261px;
  height: 1px;
  top: 125px;
  left: 85px;
  object-fit: cover;
}

.bank .product_list_container {
  display: flex;
  position: absolute;
  top: 300px;
  left: 91px;
  flex-direction: column;
}

.bank .product_list_content {
  display: flex;
  width: 1255px;
  height: 130px;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bank .join_button {
  width: 114px;
  height: 50px;
  background-color: rgb(14, 114, 114);
  border-radius: 40px;
  border: none;
  font-size: 20px;
  color: #000000;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  color: #ffffff;
}

.bank .text-wrapper-13 {
  font-size: 30px;
  position: relative;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: 300px;
  font-weight: 500;
}

.bank .gemli {
  width: 350px;
  text-align: right;
}

.bank .text-wrapper-14 {
  position: relative;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  /* margin-left: 100px; */
  width: 120px;
  text-align: right;
  font-weight: 700;
  color: rgb(14, 114, 114);
}

.bank .rectangle-13 {
  position: relative;
  width: 100px;
  height: 30px;
  background-color: #009178;
  /* border-radius: 10px; */
  border: 1px solid;
  border-color: #b1b1b1;
  font-size: 15px;
  color: #000000;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 400;
}

.bank .product_item {
display: flex;
}